@charset "UTF-8";
/* button settings */
/* global */
.my-button {
  border: 10px solid transparent;
  background: transparent;
  -o-border-image: 12 stretch;
     border-image: 12 fill stretch;
  outline: none;
  cursor: pointer;
  /* limited width */
  /* limited width with inline icon */
  /* button type: FILLED */
  /* button type: BORDER */
}

.my-button:not(:last-child) {
  margin-right: 15px;
}

.my-button[class*='max-'] .icon:not(.my-button):not(:first-child) {
  margin-left: 0;
}

.my-button.max-125 {
  max-width: 125px;
}

.my-button .button-text:not(:first-child) {
  margin-left: 15px;
}

.my-button[class*='max-'].icon-inline .button-text {
  display: inline-block;
  max-width: calc(100% - 20px);
}

.my-button[class*='max-'].icon-inline .icon {
  height: 100%;
}

.my-button.filled {
  color: white;
  border-image-source: url(./assets/button_filled.svg);
}

.my-button.filled.red {
  border-image-source: url(./assets/button_filled_red.svg);
  color: white;
}

.my-button.filled.teal {
  border-image-source: url(./assets/button_filled_teal.svg);
  color: white;
}

.my-button.border {
  border-image-source: url(./assets/button_line.svg);
}

.my-button.border.red {
  border-image-source: url(./assets/button_line_red.svg);
  color: red;
}

.my-button.border.teal {
  border-image-source: url(./assets/button_line_teal.svg);
  color: teal;
}

/* icon settings */
.icon {
  width: 15px;
  height: 15px;
}

.icon::before {
  font-family: Wingdings;
}

.icon:not(.my-button):not(:first-child) {
  margin-left: 15px;
}

.icon.circle::before {
  content: 'l';
}

.icon.square::before {
  content: 'n';
}

.icon.diamond::before {
  content: 'u';
}

.icon[class*='arrow-'] {
  display: inline-block;
}

.icon[class*='arrow-']::before {
  content: 'á';
}

.icon.arrow-back {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.icon.arrow-forward {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.image {
  background-image: url(./assets/button_filled.svg);
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-size: contain;
}

[class^='btn-row-'] {
  margin-bottom: 50px;
}

@-webkit-keyframes blink {
  from {
    -webkit-box-shadow: 0 0 10px red;
            box-shadow: 0 0 10px red;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    transition: -webkit-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in, -webkit-box-shadow 0.25s ease-in;
  }
  to {
    -webkit-box-shadow: 0 0 0px red;
            box-shadow: 0 0 0px red;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    transition: -webkit-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in, -webkit-box-shadow 0.25s ease-in;
  }
}

@keyframes blink {
  from {
    -webkit-box-shadow: 0 0 10px red;
            box-shadow: 0 0 10px red;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    transition: -webkit-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in, -webkit-box-shadow 0.25s ease-in;
  }
  to {
    -webkit-box-shadow: 0 0 0px red;
            box-shadow: 0 0 0px red;
    -webkit-transition: -webkit-box-shadow 0.25s ease-in;
    transition: -webkit-box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in;
    transition: box-shadow 0.25s ease-in, -webkit-box-shadow 0.25s ease-in;
  }
}

.blink {
  -webkit-animation-name: blink;
          animation-name: blink;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
