/* button settings */
/* global */
.my-button{
  border: 10px solid transparent;
  background: transparent;
  border-image: 12 fill stretch;
  outline: none;
  cursor: pointer;


  &:not(:last-child) {
    margin-right: 15px;
  }

  /* limited width */
  &[class*='max-'] .icon:not(.my-button):not(:first-child){
    margin-left: 0;
  }
  &.max-125 {
    max-width: 125px
  }

  .button-text {
    &:not(:first-child) {
      margin-left: 15px;
    }
  }

  /* limited width with inline icon */
  &[class*='max-'].icon-inline {

    .button-text{
     display: inline-block;
     max-width: calc(100% - 20px);
   }

   .icon{
     height: 100%;
   }
  }
  
  /* button type: FILLED */
  &.filled{
    color: white;
    border-image-source:url(./assets/button_filled.svg);

    &.red{
    border-image-source:url(./assets/button_filled_red.svg);
    color:white;
    }
    &.teal {
    border-image-source:url(./assets/button_filled_teal.svg);
       color: white;
    }
  }
  
  /* button type: BORDER */
  &.border{
    border-image-source:url(./assets/button_line.svg);

    &.red {
      border-image-source:url(./assets/button_line_red.svg);
    color: red;
    }
    &.teal {
      border-image-source:url(./assets/button_line_teal.svg);
      color: teal;
    }
  }
}

/* icon settings */
.icon{
  width: 15px;
  height: 15px;


  &::before{
    font-family: Wingdings;
  }
  &:not(.my-button):not(:first-child){
    margin-left: 15px;
  }
  &.circle::before{
    content: 'l';
  }
  &.square::before{
    content: 'n';
  }
  &.diamond::before{
    content: 'u';
  }

  // to rotate arrow
  &[class*='arrow-']{
    display: inline-block;
  }
  &[class*='arrow-']::before{
    content: 'á';
  }
  &.arrow-back {
    transform: rotate(-90deg);
  }
  &.arrow-forward {
    transform: rotate(90deg);
  }
}

.image{
  border-image-source: url(./assets/button_filled.svg);
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-size: contain;
}

[class^='btn-row-']{
  margin-bottom: 50px;
}

@keyframes blink {
  from {
    box-shadow: 0 0 10px red;
    transition: box-shadow 0.25s ease-in;
  }
  to{
    box-shadow: 0 0 0px red;
    transition: box-shadow 0.25s ease-in;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}